* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F2EFE9;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Syncopate", sans-serif;
  font-size: 3rem;
  letter-spacing: 3%;
  line-height: 110%;
  color: #49453E;
}
h1.title_pages {
  font-size: 2rem;
}

h2 {
  font-family: "Syncopate", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3%;
  line-height: 110%;
  color: #49453E;
}

h3 {
  font-family: "Syncopate", sans-serif;
  font-size: 2rem;
  letter-spacing: 3%;
  line-height: 110%;
  color: #49453E;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #49453E;
  margin: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 200%;
  color: #797979;
  margin: 0;
  padding: 0;
}

.big-txt {
  font-family: "Syncopate", sans-serif;
  font-size: 4.625rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.subtitulos {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.text_tags {
  font-family: "Poppins", sans-serif;
  color: #03989E;
  font-size: 0.875rem;
  letter-spacing: 5%;
  font-weight: 500;
  letter-spacing: 3px;
  color: #03989E;
}

.section_padding {
  padding: 0 3rem;
}

.section_margin {
  margin-top: 150px;
  margin-bottom: 150px;
}

.bkg-chocolate {
  background-color: #49453E;
}

.bkg-dorado {
  background-color: #A88F61;
}

.bkg-blanco {
  background-color: #fff;
}

.bkg-gris-base {
  background-color: #F2EFE9;
}

.bkg-beige {
  background-color: #E2DCD0;
}

.bkg-img {
  background-image: url(../img/playa-chica.jpg);
  min-width: 100%;
  height: 90vh;
  background-position: center center;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F5F5F5;
}
header .contacto {
  display: flex;
  flex-direction: row;
  background-color: #49453E;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12.5rem;
  align-items: center;
  font-size: 0 0.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
header .contacto__telefono {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  gap: 1rem;
}
header .contacto__telefono span {
  display: inline-block;
  color: #fff;
  font-size: 0.8rem;
}
header .contacto__telefono img {
  display: inline-block;
}
header .contacto__mail {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #fff;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 10rem;
}
header .container__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 190px;
  height: 38px;
}
header .line {
  width: 100%;
  height: 1px;
  background-color: #ABABAB;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-color: #E8E8E8;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style: none;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
  color: #49453E;
}

footer {
  display: flex;
}
footer .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer .content .logotipo-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  background-color: #A88F61;
}
footer .content .site_map {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 3rem;
}
footer .content .site_map article {
  width: 20%;
}
footer .content .site_map article h4 {
  margin-bottom: 1rem;
}
footer .content .site_map article span {
  font-family: "Montserrat", sans-serif;
  color: #797979;
  font-size: 0.7rem;
}
footer .content .site_map article .social-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .content .site_map article .social-footer .icons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
footer .content .site_map article li {
  list-style: none;
}
footer .content .site_map article li a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.65rem;
  letter-spacing: 1px;
  color: #49453E;
}
footer .content .footer_content-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  background-color: #49453E;
  padding: 1rem 0;
}
footer .content .footer_content-2 a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
form div label {
  font-weight: bold;
}
form div input,
form div select,
form div textarea {
  border: 1px solid #ccc;
  width: 550px;
  padding: 16px 16px;
}
form div textarea {
  resize: vertical;
  height: 100px;
}
form div select {
  width: 585px;
  padding: 16px 16px;
}
form div button[type=submit] {
  padding: 16px 16px;
  width: 585px;
  padding: 16px 16px;
  background-color: #A88F61;
  color: #fff;
  border: none;
  cursor: pointer;
}

.boton_primario {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.625rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  background-color: #A88F61;
  padding: 0.75rem 1.5rem;
}

.boton-secundario {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: #333;
  border: 2px solid var(--gold, #A88F61);
  color: #A88F61;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 0.7rem;
  text-decoration: none;
}
.boton-secundario__negativo {
  color: #A88F61;
  border: 2px solid var(--gold, #f0ca83);
}

.boton_terciario {
  color: #03989E;
  font-family: "Poppins", sans-serif;
  font-size: 0.87rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 340px;
  height: 420px;
  flex-shrink: 0;
}
.card h4 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #49453E;
}

.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 485px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #004346 100%), url(../../img/fondo-alhaya-tulum.jpg), lightgray -4.871px -366.496px/100.471% 185.565% no-repeat;
  box-shadow: 0px -19px 40px 0px rgba(0, 0, 0, 0.45) inset;
  background-position: center center;
  background-attachment: fixed;
}
.section_container_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  filter: drop-shadow(0px 2px 12px rgba(26, 25, 25, 0.75));
}
.section_container_texts h1 {
  color: #fff;
  text-align: center;
  line-height: 110%;
  margin: 0;
  padding: 0;
}
.section_container_texts p {
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 665px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.section_container_texts a {
  color: #fff;
}

section {
  display: flex;
  color: #797979;
}
section .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
section .content_isotipo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
section .content_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  height: auto;
}
section .content_info article {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 24px;
  margin-left: 3rem;
}
section .content_info article .titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
section .content_info article h2 {
  margin: 0;
  padding: 0;
}
section .content_info article span {
  font-family: "Poppins", sans-serif;
  color: #49453E;
}
section .content_info_carrusel {
  display: flex;
  flex-direction: column;
  width: 60%;
}
section .content_info_carrusel-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}
section .content_info_carrusel .carrusel_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}
section .content_info_carrusel .narrows {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-between;
  gap: 2rem;
}
section .content_info_carrusel .nav-line {
  width: 90%;
  height: 1px;
  background-color: #49453E;
}

.content_map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #49453E;
  width: 100%;
  padding: 5rem 0;
}
.content_map span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #797979;
  text-align: end;
  align-self: flex-end;
  margin-bottom: 40px;
}
.content_map .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content_map .photo-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_map_textmap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  margin-top: -100px;
  margin-left: 40px;
}

.content_info {
  display: flex;
  align-items: center;
}
.content_info article {
  flex: 1;
  padding: 2rem;
}
.content_info article h2 {
  font-size: 2rem;
  margin-bottom: 2.8rem;
}
.content_info article p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.content_info article .boton-secundario {
  display: inline-block;
}
.content_info figure {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.content_info figure img {
  max-width: 100%;
  height: auto;
}

section .content_ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49453E;
}
section .content_ubicacion article {
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem 1rem 3rem;
}
section .content_ubicacion article div {
  flex: 1;
}
section .content_ubicacion article h2 {
  font-size: 2rem;
  color: #fff;
}
section .content_ubicacion article p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 100;
  margin-top: 1rem;
}
section .content_ubicacion div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 3rem 2rem;
}
section .content_ubicacion div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section .content_ubicacion div span {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #00C7CF;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
section .content_ubicacion div img {
  max-width: 100%;
  height: auto;
}

section {
  display: flex;
  justify-content: center;
}
section .master-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 3rem;
  width: 70%;
}
section .master-plan article {
  height: 500px;
  min-width: 30%;
  background-color: #49453E;
  padding: 0 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section .master-plan article span {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #A88F61;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}
section .master-plan article .text-big {
  font-family: "Syncopate", sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
}
section .master-plan .img_render {
  min-width: 70%;
  min-height: 500px;
  background-image: url(../../img/render-edificio.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: flex;
  align-items: center;
}
section .content_tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 200px 0 100px;
  gap: 130px;
}
section .content_tagline span {
  font-family: "Syncopate", sans-serif;
  color: #49453E;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
section .content_tagline .vertical-line {
  width: 1px;
  height: 250px;
  background-color: #49453E;
}

section .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
section .formulario span {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #A88F61;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
}
section .formulario h3 {
  font-size: 24px;
  font-weight: 100;
  margin: 0.5rem 0;
}
section .formulario p {
  margin-bottom: 3rem;
}

.container_10min {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  margin-bottom: 75px;
}
.container_10min article {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 3rem 1rem 3rem;
  min-width: 600px;
}
.container_10min article h2 {
  min-width: 651px;
  font-size: 2rem;
  margin-bottom: 2.8rem;
  width: 650px;
}
.container_10min article p {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  width: 650px;
}
.container_10min article .boton-secundario {
  display: inline-block;
}
.container_10min figure {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 640px;
}
.container_10min figure img {
  max-width: 100%;
  object-fit: contain;
}

section .content_ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49453E;
}
section .content_ubicacion article {
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem 1rem 3rem;
}
section .content_ubicacion article div {
  flex: 1;
}
section .content_ubicacion article h2 {
  font-size: 2rem;
  color: #fff;
}
section .content_ubicacion article p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 100;
  margin-top: 1rem;
}
section .content_ubicacion div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 3rem 2rem;
}
section .content_ubicacion div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section .content_ubicacion div span {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #00C7CF;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
section .content_ubicacion div img {
  max-width: 100%;
  height: auto;
}

.content_amenidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
}
.content_amenidades .iconos {
  display: grid;
  width: 650px;
  height: 350px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.content_amenidades .amenidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_amenidades .amenidad img {
  width: 32px;
  height: auto;
}
.content_amenidades .amenidad span {
  display: block;
  font-family: "Syncopate", sans-serif;
  font-size: 0.9rem;
  color: #49453E;
  margin-top: 1.5rem;
}

.reforestacion {
  display: flex;
}
.reforestacion p {
  width: 350px;
}

.container-energy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  background-color: #fff;
}
.container-energy_content {
  display: flex;
  flex: row;
  background-color: #F2EFE9;
  height: 550px;
  margin: 120px 0;
}
.container-energy_imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/img-fondo-palmera.jpg);
  background-size: cover;
  background-position: center;
  min-width: 40%;
  height: 100%;
}
.container-energy_imagen img {
  width: 70%;
}
.container-energy .energy_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
}
.container-energy .energy_info article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}
.container-energy .energy_info article h3 {
  margin-bottom: 1rem;
}
.container-energy .energy_info article p {
  line-height: 140%;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.container-energy .energy_info article a {
  display: inline;
  width: 250px;
  text-align: center;
  margin: 1rem 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
}
.map-container img {
  display: inline-block;
  width: 60%;
  align-self: center;
}
.map-container a {
  width: 25%;
  text-align: center;
}

.container_ubicacion {
  display: flex;
  padding: 5rem 3rem;
}
.container_ubicacion .content_ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(6, 67, 67, 0) 47.47%, #113E3E 100%), url(../../img/playa-dude-tulum.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 550px;
  padding-bottom: 2rem;
}
.container_ubicacion .content_ubicacion article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.container_ubicacion .content_ubicacion article h1 {
  margin: 0;
  color: #fff;
}
.container_ubicacion .content_ubicacion article div {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container_ubicacion .content_ubicacion article p {
  margin: 0;
  font-weight: 300;
}

.container_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 600px;
  gap: 2rem;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container_info article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}
.container_info article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.container_info article .img-2 {
  height: 300px;
  margin-top: 2rem;
}

.content_tagline_ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E2DCD0;
  background-image: url(../../img/textura-mar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 700px;
}
.content_tagline_ubicacion span {
  font-size: 64px;
  color: #fff;
  font-family: "Syncopate", sans-serif;
  text-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}

.contact_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0;
  gap: 5rem;
}
.contact_container article {
  display: flex;
  margin: 0;
  gap: 50px;
  flex-direction: column;
}
.contact_container article h4 {
  margin-bottom: 35px;
}
.contact_container article p {
  width: 350px;
}
.contact_container article .icons-social {
  display: flex;
  flex-direction: row;
  padding: 0.5 0;
  gap: 0.7rem;
  margin-top: 1rem;
}
.contact_container_form-aparta {
  width: 100px;
  background-color: red;
}

.master-plan-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 5rem 3rem;
  margin-bottom: 65px;
  gap: 2rem;
}
.master-plan-2 .article_titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.master-plan-2 .article_titulo .title-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.master-plan-2 .article_titulo .title-subtitle h1 {
  margin: 0;
}
.master-plan-2 .article_titulo .title-subtitle p {
  width: 500px;
}
.master-plan-2 .article_titulo .line-decoration {
  width: 45px;
  height: 1px;
  background-color: #49453E;
}
.master-plan-2__bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.master-plan-2__bullets .bullet {
  width: 28%;
}
.master-plan-2__bullets .bullet p {
  font-size: 0.75rem;
  margin-top: 1rem;
}
.master-plan-2 figure {
  display: flex;
  margin: 0;
}
.master-plan-2 figure img {
  object-fit: cover;
}

.sec-amenidades {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-amenidades {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 1rem 3rem;
  align-items: flex-end;
  align-self: flex-start;
}
.label-amenidades span {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #A88F61;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
}

.container_amenidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--color-parrafos-positivo, #797979);
}
.container_amenidades .content-amenidad {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: sticky;
  top: 0;
}
.container_amenidades .content-amenidad article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}
.container_amenidades .content-amenidad article .info-amenidad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
  padding: 2rem;
}
.container_amenidades .content-amenidad article .info-amenidad h3 {
  margin: 0 0 1rem 0;
}
.container_amenidades .content-amenidad article .info-amenidad span {
  font-family: "Poppins", sans-serif;
  color: #A88F61;
  font-size: 0.85rem;
}
.container_amenidades .content-amenidad article p {
  flex: 1;
  padding: 2rem;
}
.container_amenidades .content-amenidad figure {
  margin: 0;
  width: 80%;
  height: auto;
}
.container_amenidades .content-amenidad figure img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
