
$color-blanco: #fff;
$color-beige: #E2DCD0;
$color-gris-base: #F2EFE9;
$color-header-footer: #F5F5F5;
$color-gris-parrafos: #797979;
$color-turquesa: #03989E;
$color-dorado: #A88F61;
$color-chocolate:#49453E;

$ff-syncopate:'Syncopate', sans-serif;
$ff-monse:'Montserrat', sans-serif;
$ff-poppins:'Poppins', sans-serif;


* {
    box-sizing: border-box;

}


*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-gris-base;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 3rem;
    letter-spacing: 3%;
    line-height: 110%;
    color:$color-chocolate;

    &.title_pages {
        font-size: 2rem;
    }
}



h2{
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 3%;
    line-height: 110%;
    color:$color-chocolate;
}

h3{
    font-family: 'Syncopate', sans-serif;
    font-size: 2rem;
    letter-spacing: 3%;
    line-height: 110%;
    color: $color-chocolate;
}

h4{
    font-family:$ff-monse;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 3px;
    color: $color-chocolate;
    margin: 0;

}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 200%;
    color: $color-gris-parrafos;
    margin: 0;
    padding: 0;
}

.big-txt{
    font-family: $ff-syncopate;
    font-size: 4.625rem;
    color: $color-blanco;
    margin: 0;
    padding: 0;

}

.subtitulos{
    font-size: 1.25rem;
    font-family:'Montserrat', sans-serif;
}

.text_tags{
    font-family:'Poppins', sans-serif;
    color: $color-turquesa;
    font-size: 0.875rem;
    letter-spacing: 5%;
    font-weight: 500;
    letter-spacing: 3px;
    color: $color-turquesa;

}

.section_padding{
    padding: 0 3rem;
}

.section_margin{
    margin-top: 150px;
    margin-bottom: 150px;
}

.bkg-chocolate{
    background-color: $color-chocolate;
}

.bkg-dorado{
    background-color: $color-dorado;
}

.bkg-blanco{
    background-color: $color-blanco;
}

.bkg-gris-base{
    background-color: $color-gris-base;
}

.bkg-beige{
    background-color: $color-beige;
}

.bkg-img{
    background-image: url(../img/playa-chica.jpg);
    min-width: 100%;
    height: 90vh;
    background-position: center center;
    background-attachment: fixed;

    
}


//MIXINS



@mixin flex-box($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}



@mixin flex-column($justify,$align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}



@mixin flex-center($justify:center,$align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}






@media (max-width: 720px) {

    *{
        box-sizing: border-box;

    }

    *body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $color-gris-base;
    }
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    li{
        margin: 0;
        padding: 0;
    }
    
    a{
        text-decoration: none;
    }
    
    h1{
        font-family: 'Syncopate', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 3%;
        line-height: 110%;
        color:$color-chocolate;
    
        &.title_pages {
            font-size: 2rem;
        }
    }
    
    
    
    h2{
        font-family: 'Syncopate', sans-serif;
        font-size: .1rem;
        letter-spacing: 3%;
        line-height: 110%;
        color:$color-chocolate;
    }
    
    h3{
        font-family: 'Syncopate', sans-serif;
        font-size: 2rem;
        letter-spacing: 3%;
        line-height: 110%;
        color: $color-chocolate;
    }
    
    h4{
        font-family:$ff-monse;
        font-weight: 300;
        font-size: 1.1rem;
        letter-spacing: 3px;
        color: $color-chocolate;
        margin: 0;
    
    }
    
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        line-height: 200%;
        color: $color-gris-parrafos;
        margin: 0;
        padding: 0;
    }
    
    .big-txt{
        font-family: $ff-syncopate;
        font-size: 3rem;
        line-height: 1rem;
        color: $color-blanco;
        margin: 0;
        padding: 0;
    
    }
    
    .subtitulos{
        font-size: 1.25rem;
        font-family:'Montserrat', sans-serif;
    }
    
    .text_tags{
        font-family:'Poppins', sans-serif;
        color: $color-turquesa;
        font-size: 0.85rem;
        letter-spacing: 5%;
        font-weight: 500;
        letter-spacing: 3px;
        color: $color-turquesa;
    
    }

    .section_padding{
        padding: 0 3rem;
    }
    
    .section_margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    

}















@media (max-width: 390px) {

    *{
        box-sizing: border-box;

    }

    *body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $color-gris-base;
    }
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    li{
        margin: 0;
        padding: 0;
    }
    
    a{
        text-decoration: none;
    }
    
    h1{
        font-family: 'Syncopate', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 3%;
        line-height: 110%;
        color:$color-chocolate;
    
        &.title_pages {
            font-size: 2rem;
        }
    }
    
    
    
    h2{
        font-family: 'Syncopate', sans-serif;
        font-size: .1rem;
        letter-spacing: 3%;
        line-height: 110%;
        color:$color-chocolate;
    }
    
    h3{
        font-family: 'Syncopate', sans-serif;
        font-size: 2rem;
        letter-spacing: 3%;
        line-height: 110%;
        color: $color-chocolate;
    }
    
    h4{
        font-family:$ff-monse;
        font-weight: 300;
        font-size: 1.1rem;
        letter-spacing: 3px;
        color: $color-chocolate;
        margin: 0;
    
    }
    
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        line-height: 200%;
        color: $color-gris-parrafos;
        margin: 0;
        padding: 0;
    }
    
    .big-txt{
        font-family: $ff-syncopate;
        font-size: 2.8rem;
        line-height: 2.75rem;
        color: $color-blanco;
        margin: 0;
        padding: 0;
    
    }
    
    .subtitulos{
        font-size: 1.25rem;
        font-family:'Montserrat', sans-serif;
    }
    
    .text_tags{
        font-family:'Poppins', sans-serif;
        color: $color-turquesa;
        font-size: 0.85rem;
        letter-spacing: 5%;
        font-weight: 500;
        letter-spacing: 3px;
        color: $color-turquesa;
    
    }

    .section_padding{
        padding: 0 3rem;
    }
    
    .section_margin{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    

}
