form {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-width: 100%;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;

        label {
            font-weight: bold;
        }

        input,
        select,
        textarea {
            border: 1px solid #ccc;
            width: 100%;
            padding: 16px 16px;
        }

        textarea {
            resize: vertical;
            height: 100px;
        }

        select{
            width: 585px;
            padding: 16px 16px;
        }

        button[type="submit"] {
            padding: 16px 16px;
            width: 585px;
            padding: 16px 16px;
            background-color:$color-dorado;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: .3s;


            &:hover {
                background-color:$color-chocolate;



            }
        }
    }
}












@media (max-width: 1200px) {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 0.5rem;
    
            label {
                font-weight: bold;
            }
    
            input,
            select,
            textarea {
                border: 1px solid #ccc;
                width: 100%;
            }
    
            textarea {
                resize: vertical;
                height: 100%;
            }
    
            select{
                width: 100%;
                padding: 16px 16px;
            }
    
            button[type="submit"] {
                padding: 16px 16px;
                width: 100%;
                padding: 16px 16px;
                background-color:$color-dorado;
                color: #fff;
                border: none;
                cursor: pointer;
            
            }

            option{
                width: 100%;
            }
        }
    }


}





























@media (max-width: 768px) {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 0.5rem;
    
            label {
                font-weight: bold;
            }
    
            input,
            select,
            textarea {
                border: 1px solid #ccc;
                width: 100%;
            }
    
            textarea {
                resize: vertical;
                height: 100%;
            }
    
            select{
                width: 100%;
                padding: 16px 16px;
            }
    
            button[type="submit"] {
                padding: 16px 16px;
                width: 100%;
                padding: 16px 16px;
                background-color:$color-dorado;
                color: #fff;
                border: none;
                cursor: pointer;
            
            }

            option{
                width: 100%;
            }
        }
    }


}













@media (max-width: 390px) {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 0.5rem;
    
            label {
                font-weight: bold;
            }
    
            input,
            select,
            textarea {
                border: 1px solid #ccc;
                width: 100%;
            }
    
            textarea {
                resize: vertical;
                height: 100%;
            }
    
            select{
                width: 100%;
                padding: 16px 16px;
            }
    
            button[type="submit"] {
                padding: 16px 16px;
                width: 100%;
                padding: 16px 16px;
                background-color:$color-dorado;
                color: #fff;
                border: none;
                cursor: pointer;
            
            }

            option{
                width: 90%;
            }
        }
    }


}
